# GitLab CI/CD Pipeline for Deploy to Server
variables:
  NODE_VERSION: "22"

stages:
  - build
  - deploy

build:
  # This stage syncs the main branch with build-dev and build-production.
  stage: build
  image: alpine/git:latest
  variables:
    ACCESS_TOKEN: $GITLAB_ACCESS_TOKEN
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
  before_script:
    - git config --global user.email "gitlab-ci@${CI_SERVER_HOST}"
    - git config --global user.name "GitLab CI"
    - git remote set-url origin "https://GITLAB_ACCESS_TOKEN:${ACCESS_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git"
  script:
    - echo "Pushing source code to build-dev branch..."
    - git push origin HEAD:build-dev --force
    - echo "Pushing source code to build-production branch..."
    - git push origin HEAD:build-production --force

# Deploy template for Toolforge
.deploy_template: &deploy_template
  image: alpine:latest
  needs:
    - build
  script:
    - apk add --no-cache curl openssh-client
    - mkdir -p ~/.ssh
    - ssh-keyscan $SSH_HOST >> ~/.ssh/known_hosts
    - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
    - mv $SECURE_FILES_DOWNLOAD_PATH/$PRIVATE_KEY_NAME ~/.ssh
    - chmod 600 ~/.ssh/$PRIVATE_KEY_NAME
    - echo "Restarting service on Toolforge"
    # Restart service on Toolforge
    - |
      ssh -i "~/.ssh/$PRIVATE_KEY_NAME" "$SSH_USER@$SSH_HOST" <<EOF
      become $TOOLNAME
      toolforge build start --image-name "$IMAGE_NAME" -L https://$CI_SERVER_HOST/$CI_PROJECT_PATH --ref "$REF"
      toolforge webservice buildservice restart --mount all
      exit
      exit
      EOF

deploy-dev:
  stage: deploy
  environment: dev
  variables:
    SSH_HOST: "login.tools.wmflabs.org"
    SSH_USER: "collins"
    TOOLNAME: $TOOLNAME
    IMAGE_NAME: "build-dev"
    REF: "build-dev"
    ACCESS_TOKEN: $GITLAB_ACCESS_TOKEN
    SECURE_FILES_DOWNLOAD_PATH: .
    PRIVATE_KEY_NAME: "id_rsa.toolforge"
    NODE_ENV: "development"
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
  <<: *deploy_template

deploy-production:
  stage: deploy
  environment: production
  variables:
    SSH_HOST: "login.tools.wmflabs.org"
    SSH_USER: "collins"
    TOOLNAME: $TOOLNAME
    IMAGE_NAME: "build-production"
    REF: "$CI_COMMIT_TAG"
    ACCESS_TOKEN: $GITLAB_ACCESS_TOKEN
    SECURE_FILES_DOWNLOAD_PATH: .
    PRIVATE_KEY_NAME: "id_rsa.toolforge"
    NODE_ENV: "production"
  rules:
    - if: "$CI_COMMIT_TAG"
  <<: *deploy_template
