# GitLab CI/CD Pipeline for Deploy to Server

variables:
  NODE_VERSION: "22"
  YARN_CACHE_FOLDER: ".yarn-cache"
  NEXT_CACHE_FOLDER: ".next/cache"

stages:
  - build
  - deploy

build:
  # Build stage for Next.js application
  rules:
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"
      when: on_success
    - when: never
  # This stage installs dependencies, builds the application, and prepares it for deployment.
  stage: build
  image: node:22
  tags:
    - wmcs
  cache:
    key:
      files:
        - yarn.lock
    paths:
      - node_modules/
      - $YARN_CACHE_FOLDER
      - $NEXT_CACHE_FOLDER
  before_script:
    - yarn config set cache-folder $YARN_CACHE_FOLDER
  script:
    - yarn install
    - yarn build
    - ls -al .next/
    - cp public .next/standalone -r
    - cp .next/static .next/standalone/.next -r
    - cp Procfile .next/standalone
    - PACKAGE_DIR=./.next/standalone/ node prune-package.js
  artifacts:
    paths:
      - .next/standalone/
    expire_in: 1 hour
  environment: build

.deploy_template: &deploy_template
  image: alpine:latest
  dependencies:
    - build
  needs:
    - build
  rules:
    - !reference [build, rules]
  script:
    # Install necessary tools for secure file transfer and SSH
    - apk add --no-cache curl openssh-client rsync bash
    # Set up SSH
    - mkdir -p ~/.ssh
    - ssh-keyscan $SSH_HOST >> ~/.ssh/known_hosts
    - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
    - mv $SECURE_FILES_DOWNLOAD_PATH/$PRIVATE_KEY_NAME ~/.ssh
    - chmod 600 ~/.ssh/$PRIVATE_KEY_NAME
    # Deploy the application using rsync to synchronize files
    - echo "Deploying files to Toolforge using rsync..."
    - rsync -avz --delete -e "ssh -i ~/.ssh/$PRIVATE_KEY_NAME" .next/standalone/ $SSH_USER@$SSH_HOST:/data/project/$TOOLNAME/app/
    # Restart the webservice on Toolforge
    - echo "Restarting service on Toolforge..."
    - |
      ssh -i "~/.ssh/$PRIVATE_KEY_NAME" "$SSH_USER@$SSH_HOST" <<EOF
      become $TOOLNAME
      toolforge webservice restart
      exit
      exit
      EOF

# Deploy to Development Environment
deploy-dev:
  stage: deploy
  environment: dev
  variables:
    SSH_HOST: "login.tools.wmflabs.org"
    SSH_USER: "collins"
    TOOLNAME: $TOOLNAME
    SECURE_FILES_DOWNLOAD_PATH: .
    PRIVATE_KEY_NAME: "id_rsa.toolforge"
  <<: *deploy_template

# Deploy to Beta Environment
deploy-beta:
  stage: deploy
  environment: beta
  variables:
    SSH_HOST: "login.tools.wmflabs.org"
    SSH_USER: "collins"
    TOOLNAME: $TOOLNAME
    SECURE_FILES_DOWNLOAD_PATH: .
    PRIVATE_KEY_NAME: "id_rsa.toolforge"
  <<: *deploy_template

# Deploy to Production Environment
deploy-production:
  stage: deploy
  environment: production
  variables:
    SSH_HOST: "login.tools.wmflabs.org"
    SSH_USER: "collins"
    TOOLNAME: $TOOLNAME
    SECURE_FILES_DOWNLOAD_PATH: .
    PRIVATE_KEY_NAME: "id_rsa.toolforge"
  <<: *deploy_template